@font-face {
    font-family: 'Be Vietnam Pro', sans-serif;
    src: url(..fonts/vietnam-pro), format('opentype');
    font-weight: 400;
    font-style: normal;

}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-family: "Be Vietnam Pro", sans-serif;
}

img {
    display: block;
    width: 100%;
}

.container {
    max-width: 1200px;
    margin: auto;
}