@font-face {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 400;
    font-style: normal;

}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --section-text-color: #374754; 
    --section-title-color: #252B42;
    --title-font-size: 3rem;
    --subtitle-font-size: 1.5rem;
    font-family: "Be Vietnam Pro", sans-serif;
    text-align: center;
    color:var(--section-text-color);
    min-width: 320px;
}

img {
    display: block;
    width: 100%;
}

.container {
    max-width: 1200px;
    margin: auto;
}